@charset "UTF-8";
.btn {
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  text-shadow: none;
  border-radius: 3px; }

.btn_fill_green {
  background-color: #26a97a;
  color: #fff; }
  .btn_fill_green:hover, .btn_fill_green:focus, .btn_fill_green:active {
    color: #fff; }

.btn_fill_red {
  background-color: #f16c6c;
  color: #fff; }
  .btn_fill_red:hover, .btn_fill_red:focus, .btn_fill_red:active {
    color: #fff; }

.btn_empty_green {
  border: 1px solid #26a97a;
  color: #26a97a;
  background-color: #fff; }
  .btn_empty_green:hover, .btn_empty_green:focus, .btn_empty_green:active {
    color: #26a97a; }

.btn_empty_gray {
  border: 1px solid #c2c7c3;
  color: #c8d0cf;
  background-color: #fff; }
  .btn_empty_gray:hover, .btn_empty_gray:focus, .btn_empty_gray:active {
    color: #c8d0cf; }

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child,
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-radius: 3px; }

html {
  font-size: 100%; }

body {
  font-family: "微軟雅黑體", "微软雅黑体", "微軟正黑體", "微软正黑体", "Arial"; }

h1, h2, h3 {
  margin: 0; }

button {
  outline: none;
  border: none;
  background-color: transparent; }

a {
  color: inherit; }
  a:focus, a:hover {
    outline: none;
    color: inherit;
    text-decoration: none; }

.close {
  text-shadow: 0 0; }

.mask {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  position: fixed;
  top: 0; }

/*2017/10/16合并后，要更改的css*/
section .container-fluid, section .container {
  margin-top: 48px;
  margin-bottom: 50px; }

.mem_header .pull-left {
  margin-top: 16px;
  margin-left: 13px; }
  .mem_header .pull-left img {
    height: 18px; }

.mem_header .brand_middle {
  color: #b5ead7;
  font-size: 0.9375rem; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.content_wrap {
  font-size: 0.875rem; }
  .content_wrap .caption {
    margin-top: 15px; }
    .content_wrap .caption h2 {
      display: inline-block;
      font-size: 1.125rem;
      vertical-align: middle;
      margin-left: 5px; }
    .content_wrap .caption img {
      width: 16px;
      vertical-align: middle; }
  .content_wrap .tab_warp {
    margin-top: 15px; }
    .content_wrap .tab_warp .tab_header {
      background-color: #e6eee8;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      border-radius: 2px; }
      .content_wrap .tab_warp .tab_header li {
        color: #7f8882;
        text-align: center;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; }
        .content_wrap .tab_warp .tab_header li.active {
          color: #df8f4e;
          background-color: #fff; }
        .content_wrap .tab_warp .tab_header li a {
          display: block;
          width: 100%;
          padding-top: 8px;
          padding-bottom: 10px; }
    .content_wrap .tab_warp .tab_body {
      padding-top: 55px; }

.terms .tab_body .detail {
  margin: 0; }

.terms .parag {
  margin-bottom: 25px; }
  .terms .parag .title {
    color: #44924b;
    margin-bottom: 8px; }
  .terms .parag .text {
    color: #5f645e;
    line-height: 18px; }
    .terms .parag .text ul {
      margin-top: 15px; }
      .terms .parag .text ul li {
        margin-bottom: 3px; }
